body {
    --bg-1: hsl(0, 0%, 100%);
    --bg-2: hsl(206, 20%, 90%);
    --bg-3: hsl(206, 20%, 80%);
    --bg-4: #edf1f5;
    --fg-1: hsl(0, 0%, 13%);
    --fg-2: hsl(0, 0%, 20%);
    --fg-3: hsl(0, 0%, 30%);
    --highlight: #ffffcc;
    --accent: #E2211C;
    --link: hsl(208, 77%, 47%);
    --link-hover: hsl(208, 77%, 55%);
    --link-active: hsl(208, 77%, 40%);
    --border-radius: 4px;
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
    background: var(--bg-1);
    color: var(--fg-1);
    font-family: var(--font);
    line-height: 1.5;
    margin: 0;
    --content-margin: 1rem;
    --content-padding: 1rem;
    --article-padding: 2rem;
    --nav-height: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-variant-numeric: tabular-nums;
    line-height: 1.1;
}

:is(h1, h2, h3, h4, h5, h6, p) {
    margin: 1rem 0.1rem;
}

label {
    margin: 0.5rem 0.1rem;
}

:is(h1, h2, h3, h4, h5, h6, p, label):first-child {
    margin-top: 0;
}

:is(h1, h2, h3, h4, h5, h6, p, label):last-child {
    margin-bottom: 0;
}

a {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

a:active {
    color: var(--link-active);
}

button,
input,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    color: var(--bg-1);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--bg-1);
}

.error {
    color: red;
}

code {
    background: var(--bg-2);
    font-family: var(--font-mono);
    font-size: 0.9em;
    padding: 0.15rem 0.3rem;
    border-radius: var(--border-radius);
}

body.dark {
    --bg-1: hsl(0, 0%, 18%);
    --bg-2: hsl(0, 0%, 30%);
    --bg-3: hsl(0, 0%, 40%);
    --fg-1: hsl(0, 0%, 90%);
    --fg-2: hsl(0, 0%, 70%);
    --fg-3: hsl(0, 0%, 60%);
    --highlight: #4c4c3c;
    --link: hsl(206, 96%, 72%);
    --link-hover: hsl(206, 96%, 78%);
    --link-active: hsl(206, 96%, 64%);
}

.highlight {
    background-color: var(--highlight);
    box-shadow: 0 0 10px 0 var(--fg-3);
}

.hovee:hover {
    box-shadow: 0 0 10px 0 var(--fg-3);
}

